@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
    --Softred: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Darkdesaturatedcyan-graphicdesigntext: hsl(167, 40%, 24%);
    --Darkblue-photographytext: hsl(198, 62%, 26%);
    --Darkmoderatecyanfooter: hsl(168, 34%, 41%);
    --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
    --Verydarkgrayishblue: hsl(213, 9%, 39%);
    --Darkgrayishblue: hsl(232, 10%, 55%);
    --Grayishblue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Fraunces', serif;
}

header {
  background-image: url(assets/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  color: var(--White);
}
header .header-content {
  text-align: center;
  margin-top: 3rem;
}

article .content-box {
  padding: 4rem;
}